/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1742)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [RXNDB]    Script Date: 5/9/2018 4:31:12 PM ******/
CREATE DATABASE [RXNDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RXNDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RXNDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RXNDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RXNDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RXNDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RXNDB]
GO
USE [RXNDB]
GO
/****** Object:  Table [dbo].[ItemMaster]    Script Date: 5/9/2018 4:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMaster](
	[ItemMasterID_PK] [int] NOT NULL,
	[IMCostCenterCode] [int] NOT NULL,
	[IMDescription] [nvarchar](max) NULL,
	[IMExpirationDate] [datetime] NOT NULL,
	[IMHeight] [decimal](18, 2) NOT NULL,
	[IMImageData] [image] NULL,
	[IMIsHazardousMaterial] [bit] NOT NULL,
	[IMIsPrePack] [bit] NOT NULL,
	[IMLength] [decimal](18, 2) NOT NULL,
	[IMPack] [int] NOT NULL,
	[IMPrePackStyle] [nvarchar](250) NULL,
	[IMUnitPrice] [decimal](18, 2) NOT NULL,
	[IMWidth] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ItemMaster] PRIMARY KEY CLUSTERED 
(
	[ItemMasterID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMasterInventory]    Script Date: 5/9/2018 4:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMasterInventory](
	[ItemMasterInventoryID_PK] [int] IDENTITY(1,1) NOT NULL,
	[IMIItemMasterID_FK] [int] NOT NULL,
	[IMIQtyAllocated] [int] NOT NULL,
	[IMIQtyOnHand] [int] NOT NULL,
	[IMISiteID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ItemMasterInventory] PRIMARY KEY CLUSTERED 
(
	[ItemMasterInventoryID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ItemMaster] ([ItemMasterID_PK], [IMCostCenterCode], [IMDescription], [IMExpirationDate], [IMHeight], [IMImageData], [IMIsHazardousMaterial], [IMIsPrePack], [IMLength], [IMPack], [IMPrePackStyle], [IMUnitPrice], [IMWidth]) VALUES (1, 12345678, N'This is sample description for item 1', CAST(N'2018-05-09T16:27:39.777' AS DateTime), CAST(3.00 AS Decimal(18, 2)), NULL, 1, 1, CAST(4.00 AS Decimal(18, 2)), 12, N'Solid Style', CAST(9.10 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[ItemMaster] ([ItemMasterID_PK], [IMCostCenterCode], [IMDescription], [IMExpirationDate], [IMHeight], [IMImageData], [IMIsHazardousMaterial], [IMIsPrePack], [IMLength], [IMPack], [IMPrePackStyle], [IMUnitPrice], [IMWidth]) VALUES (2, 95638645, N'This is sample description for item 2', CAST(N'2018-05-09T16:27:39.780' AS DateTime), CAST(7.00 AS Decimal(18, 2)), NULL, 1, 0, CAST(6.00 AS Decimal(18, 2)), 8, NULL, CAST(10.50 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ItemMasterInventory] ON 

INSERT [dbo].[ItemMasterInventory] ([ItemMasterInventoryID_PK], [IMIItemMasterID_FK], [IMIQtyAllocated], [IMIQtyOnHand], [IMISiteID]) VALUES (1, 1, 3, 10, N'CET')
INSERT [dbo].[ItemMasterInventory] ([ItemMasterInventoryID_PK], [IMIItemMasterID_FK], [IMIQtyAllocated], [IMIQtyOnHand], [IMISiteID]) VALUES (2, 1, 10, 20, N'SEA')
INSERT [dbo].[ItemMasterInventory] ([ItemMasterInventoryID_PK], [IMIItemMasterID_FK], [IMIQtyAllocated], [IMIQtyOnHand], [IMISiteID]) VALUES (3, 2, 3, 10, N'MCT')
SET IDENTITY_INSERT [dbo].[ItemMasterInventory] OFF
/****** Object:  Index [IX_ItemMasterInventory_IMIItemMasterID_FK]    Script Date: 5/9/2018 4:31:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMasterInventory_IMIItemMasterID_FK] ON [dbo].[ItemMasterInventory]
(
	[IMIItemMasterID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemMasterInventory]  WITH CHECK ADD  CONSTRAINT [FK_ItemMasterInventory_ItemMaster] FOREIGN KEY([IMIItemMasterID_FK])
REFERENCES [dbo].[ItemMaster] ([ItemMasterID_PK])
GO
ALTER TABLE [dbo].[ItemMasterInventory] CHECK CONSTRAINT [FK_ItemMasterInventory_ItemMaster]
GO
USE [master]
GO
